*{
    margin: 0;
    font-family: Arial;
    border: border-box; 
    
}
.first{
    height: 90px;
    background-color:#ffffff;
    /* justify-content:space-evenly; */
    align-items: center;
    display:flex;
}
.flipbar{
    height: 50px;
    width: 100px;
    /* margin-left: 100px; */
    margin-bottom: 30px;
    
    /* background-color: aqua; */
}
.flip{
    background-image: url("download/Flipkart-Logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-left: 100px; */
    /* margin-bottom: 30px; */

}
.first2{
    display: flex; 
    font-size: 1rem;
    margin-left: 100px;
}
.iconbar{
   height: 50px; 
    width: 600px;
    display: flex;
    /* justify-content: space-evenly; */
    /* background-color: brown; */
    margin-left: 50px;
}
.icon{
    background-color:rgb(206, 221, 227);
    width: 50px;
    text-align: center;
     justify-content: center; 
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;

    /* height: 25px; */
    /* margin-left: 20px; */
}
    .border{
        border: 2px solid transparent;

}
.search-input{
    color: rgb(116, 107, 107);
    font-size: 1rem;
    width: 100%;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border: none;
    background-color:rgb(156, 183, 194) ;
}
span{
    margin-left: 80px;
    color: #9e9e9e;
    font-size:1rem;
}
p{
    margin-left: 15px;
    color: #ffc200;
    font-size:20px;
}
.add{
    display: flex;
}
.home{
    display: flex;
    margin-left: 150px;
    height: 50px; 
    width: 150px;
    margin-top: 30px;
    /* background-color:gray; */
    font-size: 1rem;
    /* justify-content: space-evenly; */
}
.home2{
    display: flex;
    margin-left: 200px;
    width: 100px;
    height: 50px;
}
.car{
    margin-bottom: 10px;
    margin-right: 50px;
    color:black;
}
.sell{
    color: black;
}
/* box2 */
.second{
     background-color:azure;
     height:1500px;
}
.second1{
    height: 100px;
    background-color:rgb(247, 242, 242); 
    margin:10px 10px 10px 10px ;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 80px;  */
}
.box{
    height:70px;
    width: 70px;
    background-size: cover;
    border-radius: 50%;
    /* background-color: #ffc200; */
}
.second2{
    height: 200px;
    background-image: url("download/f087885f5bc98f4f.webp");
    background-size: cover;
    margin: 10px 10px 10px 10px;
} 
.second3{
    height: 100px;
    margin: 10px 10px 10px 10px;
    background-color: #ffffff;
    
}
.sec3{
    height: 50px;
    width: 1000px;
    background-image: url("download/55737e38f5abcc5a.webp");
    background-size: cover;
     margin-left: 100px; 
     padding-bottom: 50px;
} 
.second4{
    background-color: #ffffff;
    height: 300px;
    margin: 10px 10px 10px 10px;

}
.box3{
    height: 200px;
    width: 250px;
    background-size: cover;
    padding-top: 50px;
    border:2px solid ;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
.name{
    padding-top: 185px;
    padding-left: 60px;
 }
 .third{
    height: 250px;
    background-color:#ffffff;
    margin: 10px 10px 10px 10px
    /* width: 50; */
 }
 .third2{
    display: flex;
    justify-content: space-evenly;
 }
 .box4{
    height: 240px;
    width: 470px;
    background-size: cover;
    padding: 5px 5px 5px 5px;
 }
 .fourth{
    display: flex;
    justify-content: space-evenly;

 }
 .box5{
        height: 240px;
        width: 470px;
        background-size: cover;
        padding: 5px 5px 5px 5px;
 }
 .firth{
    display: flex;
    justify-content: space-evenly;

 }
 .firth1{
    font-size: 50px;
 }